<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2017 by Tran Le Duy
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.duy.text_converter.pro">

    <!-- For floating converter -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--Check license-->
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--Save data-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:targetApi="n">

        <activity
            android:name="com.duy.text_converter.pro.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />

            </intent-filter>

            <!-- Clip board filter -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>


        <activity
            android:name="com.duy.text_converter.pro.menu.EncodeProcessTextActivity"
            android:label="@string/encode_"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.duy.text_converter.pro.menu.DecodeProcessTextActivity"
            android:label="@string/decode_"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.duy.text_converter.pro.notification.EncodeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.duy.text.converter.ACTION_ENCODE_STYLE_1" />
                <action android:name="com.duy.text.converter.ACTION_ENCODE_STYLE_2" />
                <action android:name="com.duy.text.converter.ACTION_ENCODE_STYLE_3" />
                <action android:name="com.duy.text.converter.ACTION_ENCODE_STYLE_4" />
                <action android:name="com.duy.text.converter.ACTION_ENCODE_STYLE_5" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.duy.text_converter.pro.notification.DecodeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.duy.text.converter.ACTION_DECODE_STYLE_1" />
                <action android:name="com.duy.text.converter.ACTION_DECODE_STYLE_2" />
                <action android:name="com.duy.text.converter.ACTION_DECODE_STYLE_3" />
                <action android:name="com.duy.text.converter.ACTION_DECODE_STYLE_4" />
                <action android:name="com.duy.text.converter.ACTION_DECODE_STYLE_5" />
            </intent-filter>
        </receiver>

        <activity android:name="com.duy.text_converter.pro.SettingActivity" />

        <!--activity and service for floating converter-->
        <activity
            android:name=".floating.codec.FloatingCodecCreateShortCutActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--activity and service for floating converter-->
        <activity
            android:name=".floating.stylish.FloatingStylishCreateShortCutActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".floating.codec.FloatingCodecOpenShortCutActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/TransparentBackground" />

        <activity
            android:name=".floating.stylish.FloatingStylishOpenShortCutActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/TransparentBackground" />

        <service android:name=".floating.codec.FloatingCodecService">
            <intent-filter>
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
            </intent-filter>
        </service>
        <service android:name=".floating.stylish.FloatingStylishService">
            <intent-filter>
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
            </intent-filter>
        </service>
    </application>

</manifest>