<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.duy.text.converter">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- For floating converter -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--Check license-->
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--Save data-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.duy.common.CrashReportApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppThemeDark"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".core.barcode.BarcodeEncodedActivity" />
        <activity android:name=".core.activities.UpgradeActivity" />
        <activity android:name=".pro.activities.CodecAllActivity" />

        <activity android:name="com.duy.text.converter.core.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Clip board filter -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <!--Encode and decode menu-->
        <activity
            android:name=".pro.menu.EncodeProcessTextActivity"
            android:exported="true"
            android:label="@string/encode_it"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".pro.menu.EncodeAllProcessTextActivity"
            android:exported="true"
            android:label="@string/encode_pro"
            android:theme="@style/AppThemeLight.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".pro.menu.DecodeAllProcessTextActivity"
            android:label="@string/decode_pro"
            android:theme="@style/AppThemeLight.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".pro.menu.StylishProcessTextActivity"
            android:label="@string/stylish_it"
            android:theme="@style/AppThemeLight.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <!--End region-->

        <receiver
            android:name=".pro.notification.EncodeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.duy.text.converter.ACTION_ENCODE_STYLE_1" />
                <action android:name="com.duy.text.converter.ACTION_ENCODE_STYLE_2" />
                <action android:name="com.duy.text.converter.ACTION_ENCODE_STYLE_3" />
                <action android:name="com.duy.text.converter.ACTION_ENCODE_STYLE_4" />
                <action android:name="com.duy.text.converter.ACTION_ENCODE_STYLE_5" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".pro.notification.DecodeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.duy.text.converter.ACTION_DECODE_STYLE_1" />
                <action android:name="com.duy.text.converter.ACTION_DECODE_STYLE_2" />
                <action android:name="com.duy.text.converter.ACTION_DECODE_STYLE_3" />
                <action android:name="com.duy.text.converter.ACTION_DECODE_STYLE_4" />
                <action android:name="com.duy.text.converter.ACTION_DECODE_STYLE_5" />
            </intent-filter>
        </receiver>

        <activity android:name="com.duy.text.converter.pro.SettingActivity" />

        <!--activity and service for floating converter-->
        <activity
            android:name=".pro.floating.codec.FloatingCodecCreateShortCutActivity"
            android:icon="@mipmap/ic_floating_codec"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--activity and service for floating converter-->
        <activity
            android:name=".pro.floating.stylish.FloatingStylishCreateShortCutActivity"
            android:icon="@mipmap/ic_floating_stylish"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".pro.floating.codec.FloatingCodecOpenShortCutActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.TransparentBackground" />

        <activity
            android:name=".pro.floating.stylish.FloatingStylishOpenShortCutActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.TransparentBackground" />

        <service
            android:name=".pro.floating.codec.FloatingCodecService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
            </intent-filter>
        </service>
        <service
            android:name=".pro.floating.stylish.FloatingStylishService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
